@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="mb-4">Welcome to Admin Dashboard</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Total Products</h5>
                <p class="card-text">...</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Total Orders</h5>
                <p class="card-text">...</p>
            </div>
        </div>
    </div>
</div>
